@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant pointer-coarse (@media (pointer: coarse));

html,
body {
    font-family: "Fredoka", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
